:root { 
  --negro : #222222;
  --grisLetra : #808080;
  --azulGrfica : #d9e8fc;
}
body {
 background-color: #f6f6f6;
 margin: 0;
}

.contenedor { 
  width: 98%!important;
  margin: 0 auto;
}
@media only screen and (min-width: 480px){
.contenedor{ 
   width: 95%!important;
}   
}
@media only screen and (min-width: 768px){
  .contenedor{ 
      width: 90%!important;
  }   
}
@media only screen and (min-width: 992px){
  .contenedor{ 
      width: 90%!important;
      max-width: 1250px;
  }   
}

.error { 
  color: white; 
  background-color: red; 
}
.error p { 
  margin: 0px!important;
  font-size: 22px!important;
  text-align: center;
}

